<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423282730331-2tm0nuu0evg054gbkgot10epervh2a3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423282730331-2tm0nuu0evg054gbkgot10epervh2a3n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>423282730331-hrlbtbcbslunsga9uvrrg8g5e9d1b9o2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTEZbeeZ3mPWaH1J39iVuOI6wxWsonfWw</string>
	<key>GCM_SENDER_ID</key>
	<string>423282730331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.icoc.Projects</string>
	<key>PROJECT_ID</key>
	<string>icoc-8f075</string>
	<key>STORAGE_BUCKET</key>
	<string>icoc-8f075.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423282730331:ios:a9b2728b1b94245d1ce67e</string>
	<key>DATABASE_URL</key>
	<string>https://icoc-8f075.firebaseio.com</string>
</dict>
</plist>